body {
    direction: rtl;
    font-family: 'Lalezar';
    padding: 50px 30px 280px 30px;
}

input {
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
}

button {
    background-color: beige;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 197, 88);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav > div {
    flex: 1;
}
.topnavigation li {
    display: inline;
    margin: 0 10px;
}

.navgroup2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 20px;
}

.userheaderimage {
    width:40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
}

.headeruser > p {
    display: inline;
    position: relative;
    bottom: 15px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    background-color: rgb(255, 179, 179);
    color: red;
    padding: 4px 90px;
    border-radius: 4px;
}

.SLform {
    margin:150px 0;
    background-color: rgb(248, 216, 126);
    border:1px solid rgb(252, 245, 214);
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.SLform > button {
    margin-top: 30px;
}

.SLform > a {
    margin-top: 10px;
}

.SLfield {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width:300px;
}

.posts {
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgb(250, 237, 213);
    padding: 15px 50px;
    width: 1200px;
}

.Theposthead {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Theposthead > img {
    margin-left: 5px;
}

.postfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.postfoot > i {
    background-color: rgb(206, 204, 201);
    padding: 5px 10px;
    border-radius: 6px;
}

.theuserpaging {
    padding: 10px 20px;
    margin: 20px 0;
    width:1250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(255, 254, 208);
}

.usershowUname {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.usershowprofileimage {
    width:100px;
    height:100px;
    border-radius: 50px;
}

.usershowbuttonfollow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follow {
    background-color: greenyellow;
}

.unfollow {
    background-color: rgb(255, 142, 142);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: rgb(196, 196, 196);
    position: fixed;
    right:0;
    left:0;
    bottom:0;
    opacity: 0.85;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:20px 0;

} 

.footerdiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
}

.footerdiv2 > p {
    font-size: 24px;
    margin-top: 0;
}
